{% extends 'index.html' %}

{% block content %}
	<script type="text/javascript">
		$(document).on('ready', function () {
			$('#panel img').on('click', function () {
				if ($(this).hasClass('active')) {
					$(this).removeClass('active');
				} else $(this).addClass('active');
			});
			doc_w = $(document).width();
			if (doc_w < 500)  {
				$('#mood').addClass('slideshow');
	    		$('.slideshow').cycle({
					fx: 'scrollRight', 
					next:   '.slideshow',
					timeout:  0, 
	    			easing:  'easeInOutBack'
				}); 
    		}
			$('#panel div').fadeOut(0);
			$('#nav .sprite img').on('click', function () {
				var me = this;
				$(me).css({opacity: 1});
				if ($('#nav .sprite img.active').length) {
					var elem = $('#nav .sprite img.active').fadeOut(1000);
					elem.removeClass('active');
					$(me).addClass('active');
					setTimeout(function () {
						elem.stop(); 
					}, 500);
				} else {
					$(this).addClass('active'); 
					var elem = $('#nav .sprite img:not(.active)').fadeOut(1000);
					setTimeout(function () {
						elem.stop();
					}, 500);
				}
				$('#panel div').fadeOut(500, function () {
					$('#'+$(me).parent().parent().attr('id')+'Panel').fadeIn(500);					
				});

			});
		});
	</script>
	<div id='anketaPage' class='container'>
		<div id='nav'>
			<div id='art' class='tab'><div class='sprite'><img src='{{ STATIC_URL }}img/art.png'></div></div><div id='science' class='tab'><div class='sprite'><img src='{{ STATIC_URL }}img/science.png'></div></div><div id='sport' class='tab'><div class='sprite'><img src='{{ STATIC_URL }}img/sport.png'></div></div>
		</div>
		<div id='panel'>
			<div id='artPanel'>
				<img src="{{ STATIC_URL }}img/3dprinting.jpg">
				<img src="{{ STATIC_URL }}img/design.jpg">
				<img src="{{ STATIC_URL }}img/modelling.jpg">
				<img src="{{ STATIC_URL }}img/music.jpg">
				<img src="{{ STATIC_URL }}img/dance.jpg">
				<img src="{{ STATIC_URL }}img/painting.jpg">
				<img src="{{ STATIC_URL }}img/sculpture.jpg">
			</div>
			<div id='sciencePanel'>
				<img src="{{ STATIC_URL }}img/astronomy.jpg">
				<img src="{{ STATIC_URL }}img/chemisty.jpg">
				<img src="{{ STATIC_URL }}img/math.jpg">
				<img src="{{ STATIC_URL }}img/physics.jpg">
			</div>
			<div id='sportPanel'>
				<img src="{{ STATIC_URL }}img/athletic.jpg">
				<img src="{{ STATIC_URL }}img/basketball.jpg">
				<img src="{{ STATIC_URL }}img/box.jpg">
				<img src="{{ STATIC_URL }}img/chess.jpg">
				<img src="{{ STATIC_URL }}img/football.jpg">
				<img src="{{ STATIC_URL }}img/hockey.jpg">
				<img src="{{ STATIC_URL }}img/run.jpg">
				<img src="{{ STATIC_URL }}img/sport_dance.jpg">
				<img src="{{ STATIC_URL }}img/swimming.jpg">
				<img src="{{ STATIC_URL }}img/tennis.jpg">
			</div>
		</div>
	</div>
{% endblock %}
