{% extends 'index.html' %}

{% block content %}
	<script type="text/javascript">
		$(document).on('ready', function () {
			
		});
	</script>
	<div id='cab' class='container'>
		<h2>Личный кабинет</h2>
		<div id='profile'>
			<div id='avatar'></div>
			<div id='progress'>
				Навыки:<br>
				<div class='prog' id='concentrate'>
					<div class='percent'></div>
				</div>
				<div class='prog' id='stress'>
					<div class='percent'>1111</div>
				</div>
				<div class='prog' id='actor'>
					<div class='percent' width='20px'>111111111</div>
				</div>
				<div class='prog' id='social'>
					<div class='percent' width='14px'>11111</div>
				</div>
				<div class='prog' id='stamina'>
					<div class='percent' width='33px'>1111111</div>
				</div>
			</div>
			<div id='skills'></div>
		</div>
		<div id='map'></div>
	</div>
{% endblock %}