{% extends 'index.html' %}

{% block content %}
	<div id='startForm'>
		<h1>Сегодня я хочу:</h1>
		<div id='mood'>
			<div class='elem' id='killer'><div class='sprite'><img src='{{ STATIC_URL }}img/kill.png'></div>Соревнований</div><div class='elem' id='social'><div class='sprite'><img src='{{ STATIC_URL }}img/social.png'></div>Общения</div><div class='elem' id='research'><div class='sprite'><img src='{{ STATIC_URL }}img/research.png'></div>Открытий</div><div class='elem' id='achive'><div class='sprite'><img src='{{ STATIC_URL }}img/achievment.png'></div>Приключений</div> 
		</div>
		<div id='regForm'>
			<div id='logFormWrapper'>
				{% block regForm %}
					<form>
						<input id='name' type='text' placeholder='Введите имя'>
						<input id='myMood' type='hidden'>
						<input id='mail' name='username' placeholder='Введите e-mail'>
						<input id='pass' name='password' type='password' placeholder='Введите пароль'>
						<input type='submit' value='Готово'>
					</form>
				{% endblock %}
			</div>
			<div id='regButtonGroup'>
				<button id='logButton' event='login'>Вход</button><button id='regButton' event='registration'>Регистрация</button>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		$(document).on('ready', function () {
			doc_w = $(document).width();
			if (doc_w < 500) $('#mood').addClass('slideshow');
    		$('.slideshow').cycle({
				fx: 'scrollRight', 
				next:   '.slideshow',
				timeout:  0, 
    			easing:  'easeInOutBack'
			});
			$('#logFormWrapper').hide();
			$('.sprite img').on('click', function () {
				$('.sprite .active').removeClass('active');
				$(this).addClass('active');
				$('#myMood').val($('#mood img').index($(this)));
			})
			$('#logButton, #regButton').on('click', function () {
				var eventBut = $(this).attr('event');
				$('#regButtonGroup').slideUp(400, function () {
					$('#logFormWrapper').slideDown(400);	
					if (eventBut === 'login') $('#name').hide();				
				    $('#logFormWrapper form').attr('action', '/' + eventBut);
                });
			});
			$('#logFormWrapper button').on('click', function () {
			    	
			});
		});
	</script>
{% endblock %}
